@import "tailwindcss";

body {
  font-family: 'Poppins', 'Noto Sans Thai', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
    --color-danger-main: #FF3632;
    --color-danger-light: #FFE1E0;
    --color-primary-main: #1263F0;
    --color-primary-light: #E0e8F6;
    --color-success-main: #45B858;
    --color-success-light: #E3F4E6
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-primary {
    background-color: #1263F0;
}

.text-primary {
  color: #1E1E1E;
}

.text-secondary {
  color: #5F5F5F;
}

.text-light {
  color: #8A8A8A;
  opacity: 1;
}
.text-lighter {
  color: #B6B6B6;
  opacity: 1;
}

.text-superLight {
  color: #E1E1E1
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.noto-sans-regular {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-bold {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: 700;
  font-style: normal;
}